@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 5;
  --background-end-rgb: 5, 5, 5;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  @keyframes flash-green {
    0% { background-color: rgba(34, 197, 94, 0.2); }
    100% { background-color: transparent; }
  }

  @keyframes flash-red {
    0% { background-color: rgba(239, 68, 68, 0.2); }
    100% { background-color: transparent; }
  }

  .animate-flash-green {
    animation: flash-green 1s ease-out;
  }

  .animate-flash-red {
    animation: flash-red 1s ease-out;
  }
}
